@import "tailwindcss";

.wave {
  position: absolute;
  bottom: 0;
  width: 200%;
  height: 160px;
}

.wave1 {
  animation: waveMove 10s linear infinite;
  opacity: 0.7;
}

.wave2 {
  animation: waveMoveReverse 8s linear infinite;
}

@keyframes waveMove {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

@keyframes waveMoveReverse {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0);
  }
}

/* hero text animation */

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(40px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeUp {
  animation: fadeUp 1.2s ease forwards;
}
.waveContainer{
  width:200%;
  animation:waveMove 10s linear infinite;
}

.waveSvg{
  width:200%;
  height:160px;
}

@keyframes waveMove{
  0%{
    transform:translateX(0);
  }
  100%{
    transform:translateX(-50%);
  }
}